In [1]:
import os
import json
import boto3
import pandas as pd
import numpy as np
from boto3.dynamodb.types import TypeSerializer, TypeDeserializer
from boto3.dynamodb.conditions import Key
from decimal import Decimal
from dotenv import load_dotenv
from datetime import datetime
import json

load_dotenv()

True

In [2]:

ts= TypeSerializer()
td = TypeDeserializer()

class DecimalEncoder(json.JSONEncoder):
  def default(self, obj):
    if isinstance(obj, Decimal):
      return str(obj)
    return json.JSONEncoder.default(self, obj)

In [3]:
def query_sql(beer_id, dynamodb=None):
    if not dynamodb:
        dyna_clnt=boto3.client('dynamodb',
                               region_name=os.getenv('AWS_REGION'),         
                               aws_access_key_id=os.getenv('AWS_KEY'),          
                               aws_secret_access_key=os.getenv('AWS_SECRET_KEY'))
    stmt = "SELECT BREW_ID,PI_TMSTP,STAGE,location,temperature,thermo_loc,thermo_temp FROM BREW_MON WHERE BREW_ID='" + beer_id + "'  ORDER BY PI_TMSTP DESC"
   # print(lambda_handler(event=brew1))
    response = dyna_clnt.execute_statement(Statement=stmt)
    #print("HI")
    return response

In [4]:
lines = query_sql(beer_id='Amber Ale')
df_raw = pd.json_normalize(lines, record_path =['Items'])

In [5]:
    df_raw['pi_time']=pd.to_datetime(df_raw['PI_TMSTP.S'])
    df_raw['temperature_n']=pd.to_numeric(df_raw['temperature.S'], downcast="float")
    df_raw['thermo_temp_n']=pd.to_numeric(df_raw['thermo_temp.N'], downcast="float")    
    df_raw.set_index('pi_time',inplace=True)
    df_raw = df_raw.drop(df_raw[df_raw.thermo_temp_n > 50].index)
    df_raw = df_raw.drop(df_raw[df_raw.thermo_temp_n < 0].index)
    df_raw = df_raw.drop(columns=['BREW_ID.S','PI_TMSTP.S','STAGE.S','location.S','thermo_loc.S','temperature.S','thermo_temp.N'])

In [6]:
    df_4h = df_raw.groupby([pd.Grouper(freq='2H', level='pi_time')]).mean(numeric_only=True)
    df_4h = df_4h[df_4h['temperature_n'].notna()]
    df_4h = df_4h[df_4h['thermo_temp_n'].notna()]
    df_4h['temperature_n'] = df_4h['temperature_n'].astype('float64').round(decimals=4)
    df_4h['thermo_temp_n'] = df_4h['thermo_temp_n'].astype('float64').round(decimals=4)

In [7]:
#print(df_4h)

In [8]:
df_4h=df_4h.reset_index()
print(df_4h.info())
df_4h['pi_time'] = df_4h['pi_time'].astype(str)
#df_4h = df_4h.drop(columns=['pi_time'])
print('----------------------NEW INFO-----------------------------------------')
print(df_4h.info())
print('----------------------DATA-----------------------------------------')
print(df_4h)
#df_4h['pi_s'] = df_4h['pi_time'].strftime('%Y-%m-%d %X')
#df_4h['pi_time'] = df_4h['pi_time'].strftime('%Y-%m-%d %X')
#df_4h = df_4h.drop(columns=['pi_time'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pi_time        39 non-null     datetime64[ns]
 1   temperature_n  39 non-null     float64
 2   thermo_temp_n  39 non-null     float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.0 KB
None
----------------------NEW INFO-----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pi_time        39 non-null     object
 1   temperature_n  39 non-null     float64
 2   thermo_temp_n  39 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.0+ KB
None
----------------------DATA-----------------------------------------
                pi_time  temperature_n  thermo_temp_n
0   2020-07-20 02:00:00        21.0000         27.580
1   2020-07-20 06:00:00        21.0000         27.490
2   2020-07-20 18:00:00        21.0000         28.130
3   2020-07-21 00:00:00        20.5000         28.950
4   2020-07-21 08:00:00        19.0000         25.960
5   2020-07-22 10:00:00        19.0435         19.140
6   2020-07-22 16:00:00        20.0000         19.670
7   2020-07-23 02:00:00        19.3333         19.320
8   2020-07-23 04:00:00        19.0000         19.140
9   2020-07-23 08:00:00        19.0000         18.700
10  2020-07-23 18:00:00        19.9583         19.050
11  2020-07-24 00:00:00        19.0000         18.880
12  2020-07-24 02:00:00        19.0000         18.705
13  2020-07-24 08:00:00        18.5455         18.350
14  2020-07-25 12:00:00        20.0000         19.230
15  2020-07-26 00:00:00        21.0000         20.200
16  2020-07-26 04:00:00        21.0000         20.065
17  2020-07-26 06:00:00        20.8095         19.760
18  2020-07-26 08:00:00        20.0000         19.670
19  2020-07-26 10:00:00        20.0000         20.020
20  2020-07-26 12:00:00        20.3478         20.020
21  2020-07-26 16:00:00        20.2174         20.200
22  2020-07-27 00:00:00        20.0000         19.580
23  2020-07-27 02:00:00        20.0000         19.320
24  2020-07-27 08:00:00        19.0000         19.010
25  2020-07-27 18:00:00        20.4583         18.970
26  2020-07-29 08:00:00        18.1304         18.790
27  2020-07-29 18:00:00        19.0000         18.880
28  2020-07-29 20:00:00        19.0000         18.700
29  2020-07-30 08:00:00        19.0000         18.260
30  2020-07-30 20:00:00        21.0000         19.930
31  2020-07-30 22:00:00        21.0000         20.290
32  2020-07-31 00:00:00        20.1818         20.460
33  2020-07-31 04:00:00        20.0000         20.200
34  2020-07-31 06:00:00        19.2174         19.580
35  2020-08-01 04:00:00        19.8696         19.760
36  2020-08-01 12:00:00        19.8696         19.850
37  2020-08-01 14:00:00        20.0000         20.110
38  2020-08-01 20:00:00        20.9130         20.370

In [9]:
# Initialize DynamoDB client
dynamodb = boto3.resource('dynamodb',
                               region_name=os.getenv('AWS_REGION'),         
                               aws_access_key_id=os.getenv('AWS_KEY'),          
                               aws_secret_access_key=os.getenv('AWS_SECRET_KEY'))

table = dynamodb.Table('BREW_LOG')

In [10]:
#convert to JSON dictionary
items_from_raw = df_4h.to_dict(orient='records')

#reload to convert to decimal
changed_data_raw = json.loads(json.dumps(items_from_raw), parse_float=Decimal)

#LOAD to AWS
table.update_item(
   Key={"BEER_ID":"Amber Ale", "BEER_DATE": "2020-07-19"},
                UpdateExpression="set TEMP_DATA_2H=:r",
                ExpressionAttributeValues={":r": changed_data_raw},
                ReturnValues="UPDATED_NEW"
)

{'Attributes': {'TEMP_DATA_2H': [{'pi_time': '2020-07-20 02:00:00',
    'thermo_temp_n': Decimal('27.58'),
    'temperature_n': Decimal('21')},
   {'pi_time': '2020-07-20 06:00:00',
    'thermo_temp_n': Decimal('27.49'),
    'temperature_n': Decimal('21')},
   {'pi_time': '2020-07-20 18:00:00',
    'thermo_temp_n': Decimal('28.13'),
    'temperature_n': Decimal('21')},
   {'pi_time': '2020-07-21 00:00:00',
    'thermo_temp_n': Decimal('28.95'),
    'temperature_n': Decimal('20.5')},
   {'pi_time': '2020-07-21 08:00:00',
    'thermo_temp_n': Decimal('25.96'),
    'temperature_n': Decimal('19')},
   {'pi_time': '2020-07-22 10:00:00',
    'thermo_temp_n': Decimal('19.14'),
    'temperature_n': Decimal('19.0435')},
   {'pi_time': '2020-07-22 16:00:00',
    'thermo_temp_n': Decimal('19.67'),
    'temperature_n': Decimal('20')},
   {'pi_time': '2020-07-23 02:00:00',
    'thermo_temp_n': Decimal('19.32'),
    'temperature_n': Decimal('19.3333')},
   {'pi_time': '2020-07-23 04:00:00',
    'thermo_temp_n': Decimal('19.14'),
    'temperature_n': Decimal('19')},
   {'pi_time': '2020-07-23 08:00:00',
    'thermo_temp_n': Decimal('18.7'),
    'temperature_n': Decimal('19')},
   {'pi_time': '2020-07-23 18:00:00',
    'thermo_temp_n': Decimal('19.05'),
    'temperature_n': Decimal('19.9583')},
   {'pi_time': '2020-07-24 00:00:00',
    'thermo_temp_n': Decimal('18.88'),
    'temperature_n': Decimal('19')},
   {'pi_time': '2020-07-24 02:00:00',
    'thermo_temp_n': Decimal('18.705'),
    'temperature_n': Decimal('19')},
   {'pi_time': '2020-07-24 08:00:00',
    'thermo_temp_n': Decimal('18.35'),
    'temperature_n': Decimal('18.5455')},
   {'pi_time': '2020-07-25 12:00:00',
    'thermo_temp_n': Decimal('19.23'),
    'temperature_n': Decimal('20')},
   {'pi_time': '2020-07-26 00:00:00',
    'thermo_temp_n': Decimal('20.2'),
    'temperature_n': Decimal('21')},
   {'pi_time': '2020-07-26 04:00:00',
    'thermo_temp_n': Decimal('20.065'),
    'temperature_n': Decimal('21')},
   {'pi_time': '2020-07-26 06:00:00',
    'thermo_temp_n': Decimal('19.76'),
    'temperature_n': Decimal('20.8095')},
   {'pi_time': '2020-07-26 08:00:00',
    'thermo_temp_n': Decimal('19.67'),
    'temperature_n': Decimal('20')},
   {'pi_time': '2020-07-26 10:00:00',
    'thermo_temp_n': Decimal('20.02'),
    'temperature_n': Decimal('20')},
   {'pi_time': '2020-07-26 12:00:00',
    'thermo_temp_n': Decimal('20.02'),
    'temperature_n': Decimal('20.3478')},
   {'pi_time': '2020-07-26 16:00:00',
    'thermo_temp_n': Decimal('20.2'),
    'temperature_n': Decimal('20.2174')},
   {'pi_time': '2020-07-27 00:00:00',
    'thermo_temp_n': Decimal('19.58'),
    'temperature_n': Decimal('20')},
   {'pi_time': '2020-07-27 02:00:00',
    'thermo_temp_n': Decimal('19.32'),
    'temperature_n': Decimal('20')},
   {'pi_time': '2020-07-27 08:00:00',
    'thermo_temp_n': Decimal('19.01'),
    'temperature_n': Decimal('19')},
   {'pi_time': '2020-07-27 18:00:00',
    'thermo_temp_n': Decimal('18.97'),
    'temperature_n': Decimal('20.4583')},
   {'pi_time': '2020-07-29 08:00:00',
    'thermo_temp_n': Decimal('18.79'),
    'temperature_n': Decimal('18.1304')},
   {'pi_time': '2020-07-29 18:00:00',
    'thermo_temp_n': Decimal('18.88'),
    'temperature_n': Decimal('19')},
   {'pi_time': '2020-07-29 20:00:00',
    'thermo_temp_n': Decimal('18.7'),
    'temperature_n': Decimal('19')},
   {'pi_time': '2020-07-30 08:00:00',
    'thermo_temp_n': Decimal('18.26'),
    'temperature_n': Decimal('19')},
   {'pi_time': '2020-07-30 20:00:00',
    'thermo_temp_n': Decimal('19.93'),
    'temperature_n': Decimal('21')},
   {'pi_time': '2020-07-30 22:00:00',
    'thermo_temp_n': Decimal('20.29'),
    'temperature_n': Decimal('21')},
   {'pi_time': '2020-07-31 00:00:00',
    'thermo_temp_n': Decimal('20.46'),
    'temperature_n': Decimal('20.1818')},
   {'pi_time': '2020-07-31 04:00:00',
    'thermo_temp_n': Decimal('20.2'),
    'temperature_n': Decimal('20')},
   {'pi_time': '2020-07-31 06:00:00',
    'thermo_temp_n': Decimal('19.58'),
    'temperature_n': Decimal('19.2174')},
   {'pi_time': '2020-08-01 04:00:00',
    'thermo_temp_n': Decimal('19.76'),
    'temperature_n': Decimal('19.8696')},
   {'pi_time': '2020-08-01 12:00:00',
    'thermo_temp_n': Decimal('19.85'),
    'temperature_n': Decimal('19.8696')},
   {'pi_time': '2020-08-01 14:00:00',
    'thermo_temp_n': Decimal('20.11'),
    'temperature_n': Decimal('20')},
   {'pi_time': '2020-08-01 20:00:00',
    'thermo_temp_n': Decimal('20.37'),
    'temperature_n': Decimal('20.913')}]},
 'ResponseMetadata': {'RequestId': 'GC1SNBLPN9K1HN32B93A17N7J7VV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Thu, 21 Dec 2023 07:20:13 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '4124',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'GC1SNBLPN9K1HN32B93A17N7J7VV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '667359211'},
  'RetryAttempts': 0}}

In [ ]:
#Test Data
data2 = {
    'temperature': [60.3, 62.2345, 65.2345, 63.4567, 61.4567],
    'timestamp': [
        '2023-12-18 00:00:00',
        '2023-12-18 02:00:00',
        '2023-12-18 04:00:00',
        '2023-12-18 06:00:00',
        '2023-12-18 08:00:00'
    ]
}
#Convert to Data Frame
df_tss = pd.DataFrame(data2)

#convert to JSON dictionary
items_from_test = df_tss.to_dict(orient='records')

#reload to convert to decimal
changed_data = json.loads(json.dumps(items_from_test), parse_float=Decimal)

#LOAD to AWS
table.update_item(
   Key={"BEER_ID":"BAD_SANTA", "BEER_DATE": "2021-11-20"},
                UpdateExpression="set TEMP_DATA_TEST_2023_12_21_v=:r",
                ExpressionAttributeValues={":r": changed_data},
                ReturnValues="UPDATED_NEW"
)

#df = pd.DataFrame(changed_data)



# Convert DataFrame to a list of dictionaries
#items_from_test = df.to_dict(orient='records',parse_float=Decimal)
#items_from_test = pd.io.json.dumps(df, double_precision=2)

In [ ]:
print(df_tss)
#print(changed_data)
#print(df)
print(df_4h)