In [9]:
import os
import json
import boto3
import pandas as pd
import numpy as np
from boto3.dynamodb.types import TypeSerializer, TypeDeserializer
from boto3.dynamodb.conditions import Key
from decimal import Decimal

In [10]:
from dotenv import load_dotenv

In [12]:
load_dotenv()

True

In [13]:

ts= TypeSerializer()
td = TypeDeserializer()




class DecimalEncoder(json.JSONEncoder):
  def default(self, obj):
    if isinstance(obj, Decimal):
      return str(obj)
    return json.JSONEncoder.default(self, obj)

In [15]:


def query_sql(beer_id, dynamodb=None):
    if not dynamodb:
        dyna_clnt=boto3.client('dynamodb',region_name=os.getenv('AWS_REGION'),         aws_access_key_id=os.getenv('AWS_KEY'), 
         aws_secret_access_key=os.getenv('AWS_SECRET_KEY'))
    stmt = "SELECT BREW_ID,PI_TMSTP,STAGE,location,temperature,thermo_loc,thermo_temp FROM BREW_MON WHERE BREW_ID='" + beer_id + "'  ORDER BY PI_TMSTP DESC"
   # print(lambda_handler(event=brew1))
    response = dyna_clnt.execute_statement(Statement=stmt)
    print("HI")
    return response

SyntaxError: '(' was never closed (3706545772.py, line 3)

In [8]:
lines = query_sql(beer_id='SCWG_IPA')

NameError: name 'boto3' is not defined

In [35]:
 df_raw = pd.json_normalize(lines, record_path =['Items'])

In [36]:
    df_raw['pi_time']=pd.to_datetime(df_raw['PI_TMSTP.S'])
    df_raw['temperature_n']=pd.to_numeric(df_raw['temperature.S'], downcast="float")
    df_raw['thermo_temp_n']=pd.to_numeric(df_raw['thermo_temp.N'], downcast="float")    
    df_raw.set_index('pi_time',inplace=True)

In [37]:
    df_raw = df_raw.drop(df_raw[df_raw.thermo_temp_n > 50].index)
    df_raw = df_raw.drop(df_raw[df_raw.thermo_temp_n < 0].index)
    df_raw = df_raw.drop(columns=['BREW_ID.S','PI_TMSTP.S','STAGE.S','location.S','thermo_loc.S','temperature.S','thermo_temp.N'])
    df_raw['temperature_n'] = df_raw['temperature_n'].round(2)
    df_raw['thermo_temp_n'] = df_raw['thermo_temp_n'].round(2)

In [38]:
    df_4h = df_raw.groupby([pd.Grouper(freq='2H', level='pi_time')]).mean(numeric_only=True)
    df_4h = df_4h[df_4h['temperature_n'].notna()]
    df_4h = df_4h[df_4h['thermo_temp_n'].notna()]

In [39]:
    df_4h=df_4h.reset_index()
    df_4h_json = df_4h.to_json(orient='records',date_format='iso')

In [40]:
    json_4h = {'Items': df_4h_json}

In [41]:
print(df_4h)

               pi_time  temperature_n  thermo_temp_n
0  2021-09-08 00:00:00      13.250000      17.820000
1  2021-09-09 22:00:00      20.111111      19.073750
2  2021-09-10 00:00:00      18.500000      19.103333
3  2021-09-10 02:00:00      18.000000      19.052500
4  2021-09-10 04:00:00      17.250000      19.039999
..                 ...            ...            ...
89 2021-09-17 08:00:00      16.916666      17.522499
90 2021-09-17 10:00:00      19.250000      17.477499
91 2021-09-17 12:00:00      20.333334      17.484999
92 2021-09-17 14:00:00      21.083334      17.633333
93 2021-09-17 16:00:00      21.250000      17.712500

[94 rows x 3 columns]